/************************* Variables ****************************/
:root {
  /************* Colors *************/
  --brightest-color: #f2f2f2;
  --main-highlight-color: #4ecbd9;
  --main-highlight-color-hover: #4ecbd9d6;
  --secondary-highlight-color: #f1a032;
  --main-midtone-color: #61748c;
  --faded-main-midtone-color: #61748c41;
  --secondary-midtone-color: #223f59;
  --darkest-color: #141e26;
  --text-color: #333333;

  /************* Fonts *************/
  --main-font: proxima-nova, sans-serif;
  --heading-font: source-serif-pro, serif;

  /************* Misc *************/
  --corner: 7px;
  --opacity: 30%;
}
/************************* Variables ****************************/

/* Add CSS styling here */
* {
  box-sizing: border-box;
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: bold;
  color: var(--secondary-midtone-color);
}

a,
p {
  font-family: var(--main-font);
  line-height: 1.35rem;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: var(--brightest-color);
}

button {
  background-color: var(--main-highlight-color);
  border-radius: var(--corner);
  color: var(--brightest-color);
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
}

button.reverse-btn {
  background-color: #00000000;
  border: 1.5px solid var(--text-color);
  color: var(--text-color);
}

button:hover {
  background-color: var(--main-highlight-color-hover);
}

.container {
  max-width: 75vw;
  margin: 0 auto;
}

header {
  background-color: var(--darkest-color);
}

header > div {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
}

#logo {
  width: 15rem;
  height: auto;
}

nav {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  width: 40vw;
}

nav > a:hover {
  color: var(--main-midtone-color);
}

.active-page {
  border-bottom: 4px solid var(--main-highlight-color);
}

.warning-message {
  background-color: var(--main-highlight-color);
  padding: 10px 0px;
}

.warning-message > .container {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.warning-message > .container > p {
  font-size: 0.75rem;
  margin-right: 1vw;
}

.warning-message > .container > button {
  font-size: 0.65rem;
  padding: 0.35rem 0.35rem;
}

.hero {
  background-color: var(--secondary-midtone-color);
  padding: 10vh 0;
}

.hero-text {
  max-width: 43%;
}

.hero-text > h3 {
  color: var(--brightest-color);
  font-size: 2.75rem;
  padding: 0.4rem 0;
}

.hero-text > p {
  color: var(--brightest-color);
  margin: 6vh 0px;
  line-height: 3vh;
}

div.button-group > button:first-of-type {
  color: var(--brightest-color);
  border-color: var(--brightest-color);
  margin-right: 1vw;
}

.ft-companies {
  padding: 20px 0px;
}

.container > h5 {
  text-align: center;
  font-family: var(--main-font);
  font-weight: lighter;
  margin-bottom: 20px;
}

.ft-companies {
  margin-top: 1vw;
}

.company-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
  padding: 0px 8vw;
  margin: 1vw;
}

svg {
  width: auto;
  height: 100%;
  fill: var(--secondary-midtone-color);
  opacity: var(--opacity);
}

svg.horizontal {
  height: 70%;
  width: auto;
}

#facebook-logo,
#instagram-logo {
  height: 80%;
}

#underarmor-logo {
  margin-top: 1vh;
}

#nike-logo {
  height: 50%;
}

hr {
  color: var(--secondary-midtone-color);
  opacity: var(--opacity);
}

.main-body {
  padding: 3vh;
  border-bottom: 1px solid var(--faded-main-midtone-color);
}

.main-body > .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container > h2 {
  margin-bottom: 2vh;
}

.row {
  padding: 3vh 0;
}

.text-section > h3 {
  margin-bottom: 2vh;
}

.main-body > .container > .row > .text-section {
  width: 60%;
}

#main-button {
  padding: 0.75rem 7rem;
}
.testimonial-text {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 3vh 0;
}

.testimonial-text > a {
  color: var(--main-highlight-color);
}

.testimonials {
  background-image: url("../img/icon-pattern.jpg");
  padding: 30px 0px;
}

.testimonial-cards {
  display: flex;
  align-items: center;
  background-color: var(--brightest-color);
  height: 20vw;
  overflow: hidden;
}

.card-img {
  background-image: url("https://images.unsplash.com/photo-1521252659862-eec69941b071?ixlib=rb-1.2.1&auto=format&fit=crop&w=280&q=80");
}

.card-text {
  padding: 1vw;
  width: 60%;
}

.card-text > hr {
  width: 5%;
  text-align: left;
  margin: 3vw 0 1vw 0;
}
