/************************* Variables ****************************/
:root {
  /************* Colors *************/
  --brightest-color: #f2f2f2;
  --main-highlight-color: #4ecbd9;
  --main-highlight-color-hover: #4ecbd9d6;
  --secondary-highlight-color: #f1a032;
  --main-midtone-color: #61748c;
  --secondary-midtone-color: #223f59;
  --darkest-color: #141e26;
  --text-color: #333333;

  /************* Fonts *************/
  --main-font: proxima-nova, sans-serif;
  --heading-font: source-serif-pro, serif;

  /************* Misc *************/
  --corner: 7px;
}
/************************* Variables ****************************/

/* Add CSS styling here */
* {
  box-sizing: border-box;
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--secondary-midtone-color);
}

a,
p {
  font-family: var(--main-font);
}

h1 {
  font-size: 5rem;
}

a {
  text-decoration: none;
  color: var(--brightest-color);
}

img {
  /* content: url("/img/wireframe_box.png");
    filter: invert();
    opacity: .3; */
  object-fit: cover;
}

button {
  background-color: var(--main-highlight-color);
  border-radius: var(--corner);
  color: var(--brightest-color);
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  letter-spacing: 0.03rem;
  border: none;
}

button.reverse-btn {
  background-color: #00000000;
  border: 1.5px solid var(--text-color);
  color: var(--text-color);
}

button:hover {
  background-color: var(--main-highlight-color-hover);
}

.container {
  max-width: 75vw;
  margin: 0 auto;
}

header {
  background-color: var(--darkest-color);
}

header > div {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
}

#logo {
  width: 15rem;
  height: auto;
}

nav {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  width: 40%;
}

nav > a:hover {
  color: var(--main-midtone-color);
}

.warning-message {
  background-color: var(--main-highlight-color);
  padding: 10px 0px;
}

.warning-message > .container {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.warning-message > .container > p {
  font-size: 0.75rem;
  margin-right: 1vw;
}

.warning-message > .container > button {
  font-size: 0.65rem;
  padding: 0.35rem 0.35rem;
}

.hero {
  background-color: var(--secondary-midtone-color);
  padding: 10vh 0;
}

.hero-text {
  max-width: 35%;
}

.hero-text > h3 {
  color: var(--brightest-color);
  font-size: 2rem;
  padding: 0.4rem 0;
}

.hero-text > p {
  color: var(--brightest-color);
  margin: 6vh 0px;
  line-height: 3vh;
}

div.button-group > button:first-of-type {
  color: var(--brightest-color);
  border-color: var(--brightest-color);
  margin-right: 1vw;
}
